@font-face {
    font-family: 'Proxima Nova';
    src: url('../../assets/fonts/ProximaNova-Black.woff2') format('woff2'),
        url('../../assets/fonts/ProximaNova-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../../assets/fonts/ProximaNova-Bold.woff2') format('woff2'),
        url('../../assets/fonts/ProximaNova-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../../assets/fonts/ProximaNova-Black.woff2') format('woff2'),
        url('../../assets/fonts/ProximaNova-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../../assets/fonts/ProximaNova-BoldItalic.woff2') format('woff2'),
        url('../../assets/fonts/ProximaNova-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Proxim Nova';
    src: url('../../assets/fonts/ProximaNova-BoldItalic.woff2') format('woff2'),
        url('../../assets/fonts/ProximaNova-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../../assets/fonts/ProximaNova-ExtraBold.woff2') format('woff2'),
        url('../../assets/fonts/ProximaNova-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxim Nova';
    src: url('../../assets/fonts/ProximaNova-Bold.woff2') format('woff2'),
        url('../../assets/fonts/ProximaNova-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../../assets/fonts/ProximaNova-ExtraBoldItalic.woff2') format('woff2'),
        url('../../assets/fonts/ProximaNova-ExtraBoldItalic.woff') format('woff');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../../assets/fonts/ProximaNova-Italic.woff2') format('woff2'),
        url('../../assets/fonts/ProximaNova-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../../assets/fonts/ProximaNova-ExtraBoldItalic.woff2') format('woff2'),
        url('../../assets/fonts/ProximaNova-ExtraBoldItalic.woff') format('woff');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Proxim Nova';
    src: url('../../assets/fonts/ProximaNova-Italic.woff2') format('woff2'),
        url('../../assets/fonts/ProximaNova-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../../assets/fonts/ProximaNova-ExtraBold.woff2') format('woff2'),
        url('../../assets/fonts/ProximaNova-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../../assets/fonts/ProximaNova-Light.woff2') format('woff2'),
        url('../../assets/fonts/ProximaNova-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../../assets/fonts/ProximaNova-LightItalic.woff2') format('woff2'),
        url('../../assets/fonts/ProximaNova-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../../assets/fonts/ProximaNova-LightItalic.woff2') format('woff2'),
        url('../../assets/fonts/ProximaNova-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../../assets/fonts/ProximaNova-Light.woff2') format('woff2'),
        url('../../assets/fonts/ProximaNova-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../../assets/fonts/ProximaNova-Medium.woff2') format('woff2'),
        url('../../assets/fonts/ProximaNova-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../../assets/fonts/ProximaNova-MediumItalic.woff2') format('woff2'),
        url('../../assets/fonts/ProximaNova-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../../assets/fonts/ProximaNova-MediumItalic.woff2') format('woff2'),
        url('../../assets/fonts/ProximaNova-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../../assets/fonts/ProximaNova-Regular.woff2') format('woff2'),
        url('../../assets/fonts/ProximaNova-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../../assets/fonts/ProximaNova-Medium.woff2') format('woff2'),
        url('../../assets/fonts/ProximaNova-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../../assets/fonts/ProximaNova-SemiBold.woff2') format('woff2'),
        url('../../assets/fonts/ProximaNova-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../../assets/fonts/ProximaNova-SemiBoldItalic.woff2') format('woff2'),
        url('../../assets/fonts/ProximaNova-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Proxim Nova';
    src: url('../../assets/fonts/ProximaNova-Regular.woff2') format('woff2'),
        url('../../assets/fonts/ProximaNova-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../../assets/fonts/ProximaNova-SemiBold.woff2') format('woff2'),
        url('../../assets/fonts/ProximaNova-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../../assets/fonts/ProximaNova-ThinItalic.woff2') format('woff2'),
        url('../../assets/fonts/ProximaNova-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../../assets/fonts/ProximaNova-SemiBoldItalic.woff2') format('woff2'),
        url('../../assets/fonts/ProximaNova-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../../assets/fonts/ProximaNova-Thin.woff2') format('woff2'),
        url('../../assets/fonts/ProximaNova-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../../assets/fonts/ProximaNova-ThinItalic.woff2') format('woff2'),
        url('../../assets/fonts/ProximaNova-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../../assets/fonts/ProximaNova-Thin.woff2') format('woff2'),
        url('../../assets/fonts/ProximaNova-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

